{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block nav_left_sect %}
    <button class="a" onclick="location.href='/upload'">&#10148;</button>

{% endblock %}

{% block nav_right_sect %}
    <button onclick="location.href='{{ url_for('auth.logout') }}'">Logout</button>
{% endblock %}

{% block content %}
    <div class="form-container">
        <form action="/upload/create" method="POST" enctype="multipart/form-data">
            <input type="text" name="account-name" placeholder="Account Name" maxlength="30">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="error">
                                {{ message|safe }}
                            </div>
                        {% endif %}
                        {% if category == 'success' %}
                            <div class="success">
                                {{ message }}
                            </div>
                        {% endif %}
                        {% if category == 'none' %}
                        <div class="none">
                            {{ message }}
                        </div>
                    {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button id="wskinny-button" type="submit">Create Account</button>
        </form>
    </div>
{% endblock %}
