{% extends "base.html" %}

{% block nav %}{% endblock %}



{% block content %}
    <div class="n">
    <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
    <div class="phrase" id="phrase">WAIT! Don't touch anything...</div>
    <script>
        const phrases = [
            "Something bad could happen...",
            "I don't know what would happen...",
            "But I don't recomend testing it...",
            "What would happen?...",
            "I told you, I don't know...",
            "All I know is..."
        ];
        let phraseIndex = 0;

        function updatePhrase() {
            phraseIndex = (phraseIndex + 1) % phrases.length;
            const phraseElement = document.getElementById("phrase");
            phraseElement.style.animation = 'none';
            void phraseElement.offsetWidth;
            phraseElement.textContent = phrases[phraseIndex];
            phraseElement.style.animation = 'fadeIn 6s infinite ease-in-out';
        }
        setInterval(updatePhrase, 6000);
    </script>
    <script>
        function checkStatus() {
            fetch("/upload_status/{{ account_id }}")
            .then(response => response.json())
            .then(data => {
                console.log(status);
                if (data.status === "complete") {
                    window.location.href = `/view_channel/{{ account_id }}/{{ 300 }}`;
                } else if (data.status === "error") {
                    window.location.href = `/view_channel/{{ account_id }}/{{ 301 }}`;
                } else {
                    setTimeout(checkStatus, 2000);
                }
            });
        }
        checkStatus();
    </script>        
    </div>

{% endblock %}
