{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block nav_left_sect %}{% endblock %}

{% block nav_right_sect %}
    <button onclick="location.href='/login'">Login</button>
    <button onclick="location.href='/sign-up'">Sign Up</button>
{% endblock %}

{% block content %}
    <h1 class="very-big">Hello</h1>
    <div class="divider"></div>
    <p class="big">Wanna log in or something</p>
    <button id="long-button" onclick="location.href='/donate'">About</button>
{% endblock %}