{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block nav_left_sect %}
    <button style="transform: rotate(180deg); padding-right:12.5px;" onclick="location.href='/'">&#10148;</button>
{% endblock %}

{% block nav_right_sect %}
    <button onclick="location.href='/sign-up'">Sign Up</button>
{% endblock %}

{% block content %}
    <div class="form-container">
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email" value="{{ email }}">
            <input type="password" name="password" placeholder="Password">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error'%}
                            <div class="error">
                                {{ message|safe }}
                            </div>
                        {% endif %}
                        {% if catagory == 'success'%}
                            <div class="success">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor%}
                {% endif %}
            {% endwith %}
            <button id="skinny-button" type="submit">Login</button>
        </form>
    </div>
{% endblock %}