{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block nav_left_sect %}
    <button style="transform: rotate(180deg); padding-right:12.5px;" onclick="location.href='/'">&#10148;</button>
{% endblock %}

{% block nav_right_sect %}
    <button onclick="location.href='/login'">Login</button>
{% endblock %}

{% block content %}
<div class="form-container">
    <form id="sign-up-form" action="/sign-up" method="POST" autocomplete="off">
        <input type="text" id="email" name="email" placeholder="Email" maxlength="30" value="{{ email }}">
        <input type="text" id="name" name="name" placeholder="Name" maxlength="20" value="{{ name }}">
        <input type="password" id="password" name="password" placeholder="Password" maxlength="20">
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Password (Confirm)" maxlength="20">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error'%}
                        <div class="error">
                            {{ message|safe }}
                        </div>
                    {% endif %}
                    {% if catagory == 'success'%}
                        <div class="success">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor%}
            {% endif %}
        {% endwith %}

        <button id="skinny-button" type="submit">Sign Up</button>
    </form>
</div>
{% endblock %}
